@page "{id}"
@model IdentityService.Pages.InvitationModel
@{
    ViewData["Title"] = "Invitation";
}

<h1>Accept Invitation</h1>
@if (Model.CreateUserFormResponse == null)
{
    <p><b>Requested Invitation Id:</b> @Model.Id</p>
    @if (Model.Invitation != null)
    {
        <p><b>Email:</b> @Model.Invitation.Email</p>
        <p><b>Roles:</b> @string.Join(", ", from role in Model.Invitation.Roles select role)</p>
        <p><b>Sent:</b> @Model.Invitation.CreatedDate.ToLocalTime()</p>
        <p><b>IsExpired:</b> @Model.Invitation.IsExpired</p>


    }
    <hr />
    @if (Model.Invitation == null)
    {
        <!-- Invitation not found -->
        <div class="alert alert-info">Invitation not found.</div>
    }
    else if (Model.Invitation.IsExpired)
    {
        <!-- Invitation is expired -->
        <div class="alert alert-danger">This invitation is expired. Please inform the system administrator.</div>
    }
    else if (!Model.Invitation.IsExpired)
    {
        <!-- Invitation exists and is not expired. Allow user to post form -->
        <h4>Please fill out the form below to create your identity</h4>
        <div class="form-group">
            <form method="post">
                <input type="hidden" class="form-control" asp-for="@Model.CreateUserCommandForm.Email" value="@Model.Invitation.Email" />
                <input type="hidden" class="form-control" asp-for="@Model.CreateUserCommandForm.Roles" value="@Model.Invitation.Roles" />

                <input type="text" class="form-control" asp-for="@Model.CreateUserCommandForm.UserName" />
                <input type="text" class="form-control" asp-for="@Model.CreateUserCommandForm.FirstName" />
                <input type="text" class="form-control" asp-for="@Model.CreateUserCommandForm.LastName" />
                <input type="text" class="form-control" asp-for="@Model.CreateUserCommandForm.Password" />
                <button class="btn btn-primary form-control">Submit</button>
            </form>
        </div>
    }
}
else
{
    if (Model.CreateUserFormResponse.isSuccess)
    {
        <!-- Create user succeeded -->
        <div class="alert alert-success">Thank you. Check your email for login instructions.</div>
    }
    else
    {
        <!-- Create user issues -->
        <div class="alert alert-danger">@Model.CreateUserFormResponse.Message</div>
    }

}