@page "{id}"
@model IdentityService.Pages.Invitations.AcceptModel
@{
    ViewData["Title"] = "Accept Invitation";
}

<div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
    <h2>Accept Invitation</h2>
    @if (!Model.AcceptInvitation.InvitationExists)
    {
        <!-- Invitation not found -->
        <div class="alert alert-danger" style="margin-top:20px;"><i class="fas fa-exclamation-triangle" style="margin-right:8px;"></i> Invitation not found.</div>
    }
    else if (Model.AcceptInvitation.InvitationExpired)
    {
        <!-- Invitation is expired -->
        <div class="alert alert-danger" style="margin-top:20px;"><i class="fas fa-exclamation-triangle" style="margin-right:8px;"></i> This invitation has expired. Please inform the system administrator.</div>
    }
    else
    {
        <!-- Invitation exists and is not expired. Allow user to create an identity -->
        <p>Please fill out the form below to create your identity</p>

        <div asp-validation-summary="ModelOnly" class="text-danger" />
        <div class="form-group">
            <form method="post">




                <!--Hidden fields-->
                <input type="hidden" asp-for="AcceptInvitation.InvitationExists" />
                <input type="hidden" asp-for="AcceptInvitation.InvitationExpired" />
                <input type="hidden" asp-for="AcceptInvitation.InvitationId" />

                <div class="form-group">
                    <label style="font-weight:bold" asp-for="AcceptInvitation.UserName" class="control-label"></label>
                    @if (!ModelState.IsValid && ModelState["UserName"] != null)
                    {
                        <input class="form-control border-danger" style="background-color:#ffed81" asp-for="AcceptInvitation.UserName" placeholder="Username" />
                        @foreach (var error in ModelState["UserName"].Errors)
                        {
                            <span class="text-danger">@error.ErrorMessage</span>
                        }
                    }
                    else
                    {
                        <input class="form-control" asp-for="AcceptInvitation.UserName" placeholder="Username" />
                    }


                </div>

                <div class="form-group">
                    <label style="font-weight:bold" asp-for="AcceptInvitation.FirstName" class="control-label"></label>

                    @if (!ModelState.IsValid && ModelState["FirstName"] != null)
                    {
                        <input class="form-control border-danger" style="background-color:#ffed81" asp-for="AcceptInvitation.FirstName" placeholder="First Name" />
                        @foreach (var error in ModelState["FirstName"].Errors)
                        {
                            <span class="text-danger">@error.ErrorMessage</span>
                        }
                    }
                    else
                    {
                        <input class="form-control" asp-for="AcceptInvitation.FirstName" placeholder="First Name" />
                    }
                </div>

                <div class="form-group">
                    <label style="font-weight:bold" asp-for="AcceptInvitation.LastName" class="control-label"></label>
                    @if (!ModelState.IsValid && ModelState["LastName"] != null)
                    {
                        <input class="form-control border-danger" style="background-color:#ffed81" asp-for="AcceptInvitation.LastName" placeholder="Last Name" />
                        @foreach (var error in ModelState["LastName"].Errors)
                        {
                            <span class="text-danger">@error.ErrorMessage</span>
                        }
                    }
                    else
                    {
                        <input class="form-control" asp-for="AcceptInvitation.LastName" placeholder="Last Name" />
                    }
                </div>

                <div class="form-group">
                    <label style="font-weight:bold" asp-for="AcceptInvitation.Password" class="control-label"></label>

                    @if (!ModelState.IsValid && ModelState["Password"] != null)
                    {
                        <input type="password" class="form-control border-danger" style="background-color:#ffed81" asp-for="AcceptInvitation.Password" value="@Model.AcceptInvitation.Password" placeholder="Password" />
                        @foreach (var error in ModelState["Password"].Errors)
                        {
                            <span class="text-danger">@error.ErrorMessage</span>
                        }
                    }
                    else
                    {
                        <input type="password" class="form-control" asp-for="AcceptInvitation.Password" value="@Model.AcceptInvitation.Password" placeholder="Password" />
                    }
                </div>

                <div class="form-group">
                    <label style="font-weight:bold" asp-for="AcceptInvitation.ConfirmPassword" class="control-label"></label>
                    @if (!ModelState.IsValid && ModelState["ConfirmPassword"] != null)
                    {
                        <input type="password" class="form-control border-danger" style="background-color:#ffed81" asp-for="@Model.AcceptInvitation.ConfirmPassword" value="@Model.AcceptInvitation.ConfirmPassword" placeholder="Confirm Password" />
                        foreach (var error in ModelState["ConfirmPassword"].Errors)
                        {
                            <span class="text-danger">@error.ErrorMessage</span>
                        }
                    }
                    else
                    {
                        <input type="password" class="form-control" asp-for="@Model.AcceptInvitation.ConfirmPassword" value="@Model.AcceptInvitation.ConfirmPassword" placeholder="Confirm Password" />
                    }
                </div>

                <div class="form-group" style="text-align:right">
                    <button class="btn btn-primary btn-lg">Submit</button>
                </div>

            </form>
        </div>
    }

</div>






